@import "tailwindcss";

@theme {
  --color-text-white: #00ffe0;
  --color-bg-gray-50: #121212;
  --color-text-brown: #b3b3b3;
  --color-text-hover: #ff3cac;
}

body {
  @apply bg-bg-gray-50 text-white;
}
