@import "tailwindcss";

@theme {
  --color-text-white: #f5f5f5;
  --color-bg-gray-50: #333333;
  --color-text-brown: #bdbdbd;
  --color-text-hover: #666666;
}

body {
  @apply bg-bg-gray-50 text-white;
}
